.wave
    color: #9b1818
    padding-top: calc((100% - 1127px) / 2)
    height: 7em
    box-sizing: content-box
    background: currentColor
    position: absolute
    left: 0
    top: 0
    width: 100%

    .generic-image
        cursor: pointer
        height: 100%
        width: 640px
        position: absolute
        bottom: 0
        left: 50%
        transform: translate(-50%, 0)
        background-repeat: no-repeat
        background-position: center

    .evil-image
        background: url(../images/evil.png)

    .kind-image
        background: url(../images/kind.png)

    svg
        display: block
        position: relative
        top: calc(7em - 1px)

.row

    .avatar-phrases
        opacity: 0
        transition: 0.3s ease
        position: absolute
        z-index: 100
        left: 0
        top: -33px
        padding: 10px 15px
        font-size: 20px
        font-weight: 700
        background: linear-gradient(70.78deg, #fafafa 0%, #f7f7f7 48.96%, #fafafa 100%)
        border-radius: 5px
        box-shadow: 0 0 15px rgba(0,0,0,0.2)

        p
            
            &::after
                content: ""
                animation: text 5s linear infinite
    &:hover
        .avatar-phrases
            opacity: 1
    .avatar
        transition: 0.3s ease
        &:hover 
            transform: scale(1.1)


.grid > .row > [class*="thirteen wide"].column
    width: 80.25% !important

#showSec
    display: none

#pic2
    display: none

@keyframes text
    0%
        content: 'k'
    5%
        content: 'kk'
    10%
        content: 'kkk'
    15%
        content: 'kkkk'
    20%
        content: 'kkkkk'
    25%
        content: 'kkkkk!'
    
    55%
        content: 'kkkk!'
    65%
        content: 'kkk!'
    70%
        content: 'kk!'
    75%
        content: 'k!'
    80%
        content: '!'
    100%
        content: ''
        